<section>
  <h4>Colleges in North India</h4>

  <div class="college_box">
    <img src="../assets/college_02.jpg" width="800px">
    <div class="left">Best College 2018</div>
    <div class="data">
      <h3>Hansraj College Delhi University</h3>
      <p>Near Vishwavidyalaya Metro Station</p>
    </div>
  </div>
  <div class="college_box">
    <img src="../assets/college_02.jpg" width="800px">
    <div class="data">
      <h3>Hansraj College Delhi University</h3>
      <p>Near Vishwavidyalaya Metro Station</p>
    </div>
  </div>
  <div class="college_box">
    <img src="../assets/college_02.jpg" width="800px">
    <div class="data">
      <h3>Hansraj College Delhi University</h3>
      <p>Near Vishwavidyalaya Metro Station</p>
    </div>
  </div>
  <div class="college_box">
    <img src="../assets/college_02.jpg" width="800px">
    <div class="data">
      <h3>Hansraj College Delhi University</h3>
      <p>Near Vishwavidyalaya Metro Station</p>
    </div>
  </div>
  <div class="college_box">
    <img src="../assets/college_02.jpg" width="800px">
    <div class="data">
      <h3>Hansraj College Delhi University</h3>
      <p>Near Vishwavidyalaya Metro Station</p>
    </div>
  </div>
  <div class="college_box">
    <img src="../assets/college_02.jpg" width="800px">
    <div class="data">
      <h3>Hansraj College Delhi University</h3>
      <p>Near Vishwavidyalaya Metro Station</p>
    </div>
  </div>
  <div class="college_box">
    <img src="../assets/college_02.jpg" width="800px">
    <div class="data">
      <h3>Hansraj College Delhi University</h3>
      <p>Near Vishwavidyalaya Metro Station</p>
    </div>
  </div>
  <div class="college_box">
    <img src="../assets/college_02.jpg" width="800px">
    <div class="data">
      <h3>Hansraj College Delhi University</h3>
      <p>Near Vishwavidyalaya Metro Station</p>
    </div>
  </div>
  <div class="college_box">
    <img src="../assets/college_02.jpg" width="800px">
    <div class="data">
      <h3>Hansraj College Delhi University</h3>
      <p>Near Vishwavidyalaya Metro Station</p>
    </div>
  </div>
  <div class="college_box">
    <img src="../assets/college_02.jpg" width="800px">
    <div class="data">
      <h3>Hansraj College Delhi University</h3>
      <p>Near Vishwavidyalaya Metro Station</p>
    </div>
  </div>




</section>
